@model Map
@{
    ViewData["Title"] = "Мир";
}

<div class="container-fluid">
    <div id="gr" class="grid" style="grid-template-columns: repeat(@Model.Bots.GetLength(0), 14px); grid-template-rows: repeat(@Model.Bots.GetLength(1), 14px);">
        @for (int i = 0, j = 0, k = 0; i < Model.MapTypes.Length; i++)
        {
            <div botId="@j,@k" class="bot" style="background: rgb(@Model.Bots[j, k]?.RGB[0] @Model.Bots[j, k]?.RGB[1] @Model.Bots[j, k]?.RGB[2]); border-color:rgb( @Model.ColorMap[j, k] )">
                @if (Model.Bots[j, k] is not null)
                {
                    <div></div>
                }
            </div>
            if (j == (Model.MapTypes.GetLength(0)) - 1)
            {
                j = 0;
                k++;
            }
            else
            {
                j++;
            }
        }
        <div id="statistics">
            <p>Энергия:Популяция</p>
            @for (int i = 0; i < Model.BotTypes.Count; i++)
            {
                <div class="typeBot" style="color: rgb(@Model.BotTypes[i].RGB[0] @Model.BotTypes[i].RGB[1] @Model.BotTypes[i].RGB[2])">
                    @Model.BotTypes[i].AllEnergy:@Model.BotTypes[i].Population
                </div><br>
            }
        </div>
    </div>
    
    <div class="container mt-2">
        <div class="row">
            <div class="col-1">
                <div class="d-inline-block">
                    <span class="fa-2x float-s" onclick="saveBot()">
                        <i class="fa-regular fa-floppy-disk"></i>
                    </span>
                </div>
                <div class="d-inline-block ms-2">
                     <span class="fa-2x float-s" onclick="getAllBot()">
                         <i class="fa-solid fa-download"></i>
                     </span>
                </div>
            </div>
            <div class="col-5">
                <span class="fa-3x float-end" onclick="toggle()">
                    <i id="playBtn" class="fa-sharp fa-solid fa-play"></i>
                </span>
            </div>
            <div class="col-4">
                <span class="fa-3x" onclick="restart()">
                    <i id="restartBtn" class="fa-sharp fa-solid fa-rotate-right"></i>
                </span>
            </div>
            <div class="col-2">
                <div class="d-inline-block ms-2 pt-2">
                    <p id="speed"></p>
                </div>
                <div class="d-inline-block float-end pt-3">
                    <input id="speedSwitcher"type="range" min="-100" max="100" step="10" value="0" onChange="changeSpeed(this.value)">
                </div>
            </div>
        </div>
        <div id="allBot"></div>
    </div>
</div>