@model IList<PerceptronModel>
@{
    Layout = null;
}
@if (Model.Count == 0)
{
    <p>У вас нет сохраненных ботов!</p>
}
else
{
    <ol class="list-group list-group-numbered">
        @for (int i = 0; i < Model.Count; i++)
        {
            <li id="@Model[i].Id" class="list-group-item botLoading pb-0" style="background: rgb(@Model[i].RGB[0] @Model[i].RGB[1] @Model[i].RGB[2])"> @Model[i].Name
                <div class="d-inline-block float-end">
                    <span class="fa-1x" onclick="deleteBot('@Model[i].Id')">
                        <p title="Удалить бота">
                            <i class="fa-solid fa-trash"></i>
                        </p>
                    </span>
                </div>
                <div class="d-inline-block float-end mx-1">
                    <span class="fa-1x" onclick="changeBot('@Model[i].Id')">
                        <p title="Изменить имя бота">
                            <i class="fa-solid fa-pen"></i>
                        </p>
                    </span>
                </div>
                <div class="d-inline-block float-end mx-1">
                    <span class="fa-1x" onclick="selectBotLoading('@Model[i].Id', 'rgb(@Model[i].RGB[0] @Model[i].RGB[1] @Model[i].RGB[2])')">
                        <p title="Загрузить бота">
                            <i class="fa-solid fa-download"></i>
                        </p>
                    </span>
                </div>
            </li>
        }
    </ol>
}