@model Map
@Html.AntiForgeryToken()
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Сетка</title>
    <link rel="stylesheet" href="~/css/grid.css">
    <script src="~/js/Aja.js"></script>
    <script src="~/lib/Ajax/jquery-3.6.1.js"></script>
    <script src="~/lib/Ajax/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
<div class="scrol">
    <div><button id="start" onClick="Start()">Start</button></div>
    <div><button id="restart" onClick="neMyScript()">Restart</button></div>
    <div><button id="stop">Stop</button></div>
    <div id="gr" class="grid" style="grid-template-columns: repeat(@Model.bots.GetLength(0), 12px); grid-template-rows: repeat(@Model.bots.GetLength(0), 12px)">
        @for (int i = 0, j = 0, k = 0; i < Model.mapTypes.Length; i++)
        {
            <div style="background: rgb(@Model.bots[j, k]?.rgb[0] @Model.bots[j, k]?.rgb[1] @Model.bots[j, k]?.rgb[2])">
                @if (Model.bots[j, k] is not null)
                {
                    <div id="bot"></div>
                }
            </div>
            if (j == (Model.mapTypes.GetLength(0)) - 1)
            {
                j = 0;
                k++;
            }
            else
            {
                j++;
            }
        }
    </div>
</div>
</body>
</html>