@using CyberLife.Neuronet
@model Map
@Html.AntiForgeryToken()
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Сетка</title>
    <link rel="stylesheet" href="~/css/grid.css">
    <script src="~/js/Aja.js"></script>
    <script src="~/lib/Ajax/jquery-3.6.1.js"></script>
    <script src="~/lib/Ajax/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
<div class="scrol">
    <div style="display: flex;">
        <div><button id="start" onClick="start()">Start</button></div>
        <div><button id="restart" onClick="restart()">Restart</button></div>
        <div><button id="stop" onClick="stop()">Stop</button></div>
        <div><button id="plusSpeed" onClick="plusSpeed()">plusSpeed</button></div>
        <div><button id="minusSpeed" onClick="minusSpeed()">minusSpeed</button></div>
        <div><div id="speed"></div></div>
    </div>
    <div id="gr" class="grid" style="grid-template-columns: repeat(@Model.Bots.GetLength(0), 14px); grid-template-rows: repeat(@Model.Bots.GetLength(0), 14px)">
        @for (int i = 0, j = 0, k = 0; i < Model.MapTypes.Length; i++)
        {
            <div style="background: rgb(@Model.Bots[j, k]?.RGB[0] @Model.Bots[j, k]?.RGB[1] @Model.Bots[j, k]?.RGB[2])">
                @if (Model.Bots[j, k] is not null)
                {
                    <div id="bot"></div>
                }
            </div>
            if (j == (Model.MapTypes.GetLength(0)) - 1)
            {
                j = 0;
                k++;
            }
            else
            {
                j++;
            }
        }
        <div id="statistics" class="scrol">
            <br>
            @for (int i = 0; i < Model.BotTypes.Count; i++)
            {
                <div class="typeBot" style="color: rgb(@Model.BotTypes[i].RGB[0] @Model.BotTypes[i].RGB[1] @Model.BotTypes[i].RGB[2])">
                     @Model.BotTypes[i].AllEnergy:@Model.BotTypes[i].Population
                </div><br>
            }
        </div>
    </div>
</div>
</body>
</html>