@model Map
@{
    Layout = null;
}
@for (int i = 0, j = 0, k = 0; i < Model.mapTypes.Length; i++)
{

    <div style="background: rgb(@Model.bots[j, k]?.rgb[0] @Model.bots[j, k]?.rgb[1] @Model.bots[j, k]?.rgb[2])">
        @if (Model.bots[j, k] is not null)
        {
            <div id="bot"></div>
        }
    </div>
    if (j == (Model.mapTypes.GetLength(0)) - 1)
    {
        j = 0;
        k++;
    }
    else
    {
        j++;
    }
}
<div id="statistics" class="statistics">
    <br>
    @for (int i = 0; i < Model.botTypes.Count; i++)
    {
        <div style="color: rgb(@Model.botTypes[i].rgb[0] @Model.botTypes[i].rgb[1] @Model.botTypes[i].rgb[2])">
             @Model.botTypes[i].allEnergy:@Model.botTypes[i].population<br>
        </div>
    }
</div>

