@model Map
@{
    Layout = null;
}
@for (int i = 0, j = 0, k = 0; i < Model.MapTypes.Length; i++)
{

    <div botId="@j,@k" class="bot" style="background: rgb(@Model.Bots[j, k]?.RGB[0] @Model.Bots[j, k]?.RGB[1] @Model.Bots[j, k]?.RGB[2]); border-color: rgb(@Model.ColorMap[j, k])">
    </div>
    if (j == (Model.MapTypes.GetLength(0)) - 1)
    {
        j = 0;
        k++;
    }
    else
    {
        j++;
    }
}
<!--<div id="statistics">
    <br>
    @for (int i = 0; i < Model.BotTypes.Count; i++)
    {
        <div class="typeBot" style="color: rgb(@Model.BotTypes[i].RGB[0] @Model.BotTypes[i].RGB[1] @Model.BotTypes[i].RGB[2])">
             @Model.BotTypes[i].AllEnergy:@Model.BotTypes[i].Population
        </div><br>
    }
</div>-->
